/* version mobile */
.container {
  width: 100vw; 
  margin: auto;
  display: flex;
  flex-direction: column;
}
/* colonne de gauche */
.gauche {
  width: 100%;
  order: 2;  
}

.photo {
  text-align: center;
  display: none;
}

.photo-mobile img {
  height: 150px;
  width: 150px;
  border: 1px black solid;
  border-radius: 150px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;  
}

.photo-mobile{
  display: block;
  text-align: center;  
}

.contact p:first-of-type {
  margin-top: 1.25rem;
}

.icone-loisirs {  
  padding-bottom: 2.25rem;  
}

/* ---------colonne de DROITE -----------*/
.droit {
  background: #fff;
  margin-left: 1rem;
  margin-right: 0.5rem;
  margin-top: 1rem;  
}

.nom-prenom {
  margin-bottom: 2rem;
  text-align: center;  
}

.nom-prenom > h1 {  
  font-size: 30px;
}

.formation-container {  
  flex-wrap: wrap;
}

.formation-bloc {
  flex-direction: column;
  flex: 2;
}

.date-container {  
  flex: 1;
}

.date-ville {  
  margin-left: 0.5rem;
}

.recommandations-container {  
  display: none;
}

.iconeRecommandation{
  display: none;
}

.recommandationTitre {
  display: none;
}

.recommandations-container li {
  list-style: none;
}

/* icone  loisirs*/
.fontawesome {  
  flex: 0;
}

.titre-droite {
  flex: 1;
}

.trait {
  flex: none;
}




