/* version tablette */

.container {
  width: 100vw;  
  display: flex;
}
/* colonne de gauche */  

.contact p {
  margin-left: 3rem;
}

.contact p:first-of-type {
  margin-top: 2.25rem;
}

.icone-loisirs{
display: flex;
justify-content: space-around;
}

/* ---------colonne de DROITE -----------*/
.droit{
  background:#FFF;
  margin-left: 1.19rem;   
}

.formation-bloc{
  flex-direction: column;
  flex-shrink: 0;
}

.date-container{
  flex: none;   
 }

.recommandations-container ul{
  padding-top: 1.25rem;  
}









